body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0px;
  padding: 0px;
}
#main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-areas:
  "header"
  "article"
  "services"
  "article-2";
  grid-template-columns: 1fr;
  grid-template-rows:746px 790px 900px 600px;
}
#header {
  grid-area: header;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(photo/header.jpg);
}
#article {
  grid-area: article;
}
#services {
  grid-area: services;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#article-2 {
  grid-area: article-2;
}
.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  margin-top: 40px;
  margin-right: 2.6%;
  float: right;
}
 .active{
  border-bottom: 6px solid #0000FF;
}
li a {
  line-height: 24px;
  letter-spacing: 0.9px;
  font-size: 15.5px;
  color: #919EAB;
  display: block;
  text-align: center;
  text-decoration: none;
}
.logo{

}
.logo-img-2{
  vertical-align: middle;
}
.logo-img{
  line-height: 35px;
  height: 35px;
  margin-right: 0px;
  margin-left: 82px;
  vertical-align: middle;
  display: inline;
  float: left;
}
.logo-text{
  vertical-align: middle;
  margin-left: 8px;
  margin-right: 0px;
  text-align: center;
  float: left;
  display: inline;
  color: white;
  font-size: 32px;
}
.yellow-btn{
  display: inline;
  border-radius: 20px;
  border-color: #FFEA8A;
  color: black;
  background-color: #FFEA8A;
}
.white-underline{
  opacity: 1;
  display: inline;
  color: white;
  border-bottom: 1.5px solid white;
}
.yellow-btn-text{
  display: inline;
  color: white;
  border-color: none;
  padding: 2px;
}
.yellow-btn-container{
  display: block;
  font-size: 15.5px;
  width: 655px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 20px;
  border-color: none;
}
.header-text-container{
  margin-top: 100px;
  margin-left: 150px;
  width: 655px;
}
.header-text{
  width: 550px;
}
.h2-header-text{
  margin-bottom: 10px;
  color: white;
  font-size: 50px;
}
.header-p-text{
  margin: 0px;
  font-size: 18px;
  color: white;
  line-height: 1.3;
}
.quote-text-container{
  width: 690px;
  margin-left: 600px;
}
.article-quote-text{
  color: #0000FF;
  font-size: 42px;
  line-height: 44px;
  margin-bottom: 0px;
}
.grey-quote-text{
  color: #919EAB
}
.article{
  width: 100%;
}
.article-container{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}
.article-1-item-1{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 50px;
  padding: 30px;
  background-color: #0000FF;
  height: 330px;
  width: 350px;
}
.article-quote-text-2{
  letter-spacing: 1.5px;
  line-height: 23px;
  color: white;
}
.article-quote-text-3{
  letter-spacing: 2px;
  line-height: 25px;
  color: white;
}
.quote-white-hr{
  border: none;
  margin: 0px;
  margin-bottom: 2px;
  float: left;
  background-color: white;
  width: 35px;
  height: 3px;
}
.article-1-item-2{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  height: 485px;
  width: 750px;
  border-radius: 5px;
  background-color: #0000FF;
}
.quote-photo-ofbrowser{
  width: 405px;
  float: right;
  background-image: url("photo/photoofbrowser.jpg");
  background-size: cover;

}
.article-quote-text-4{
  width: 375px;
  padding: 30px;

}
.our-work{
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
}
.h5{
  color: white;
  margin: 0px;
  margin-top: 10px;
}
.quote-item{
  color: white;
  margin-top: 70px;
  line-height: 40px;
}
.ui-css-borders{
  display: flex;
  flex-direction: row;
}
.ui-ux-border{
  font-size: 14px;
  color: white;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding: 6px;
  padding-right: 9px;
  padding-left: 9px;
}
.css-border{
  margin-left: 12px;
  font-size: 14px;
  color: white;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding: 6px;
  padding-right: 9px;
  padding-left: 9px;
}
.view-btn{
  color: #0000FF;
  background-color: #FFFFFF;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.33), 0 12px 24px 0 #0F15CB;
  border-radius: 30px;
  width: 190px;
  height: 48px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}
.h4-view-btn{
  margin: 0px;
}
.blue-fullpage-hr{
  width: 100%;
  height: 2px;
  border: none;
  background-color: #0000FF;
}
.services-we-offer-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.h1-services-we-offer{
  color: #0000FF;
  margin-bottom: 0px;
  font-size: 42px;
}
.services-description{
  color: #234361;
  font-size: 18px;
  line-height: 27px;
}
.services-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 950px;
  margin-top: 60px;
  padding-left: 40px;
}
.services-list-items{
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.services-blue-hr{
  float: left;
  height: 3px;
  width: 28px;
  margin: 0px;
  background-color: #0000FF;
  border: none;
}
.services-header-h4{
  color: #0000FF;
  line-height: 24px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
.services-list-text{
  color: #637381;
  font-size: 16px;
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 55px;
}
.services-container{

}
.our-services-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
.our-services{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  height: 485px;
  width: 750px;
  border-radius: 5px;
  background-color: #0000FF;
}
.our-services-item-1{
  width: 50%;
  padding: 30px;
}
.our-services-item-2{
  background-image: url("photo/ourservices.png");
  background-repeat: no-repeat;
  float: right;
  width: 50%;
}
.article-2-item-1{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 50px;
  padding: 30px;
  background-color: #0000FF;
  height: 330px;
  width: 350px;
}
.have-project-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 94px;
  margin-top: 100px;
}
.have-project-h1{
  color: #0000FF;
  font-size: 42px;
  line-height: 44px;
  margin:0px;
}
.have-project-text{
  font-size: 20px;
  line-height: 28px;
  color: #212B36;
}
.have-project-btn{
  border-radius: 30px;
  background-color: #0000FF;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  height: 35px;
  width: 123px;
}
